.about {
    max-width: 1920px;
    margin: 68px auto 100px;
    height: 320px;
    background: linear-gradient(244.46deg, #FFC834 -13.52%, #FF5649 185.38%);

    .aboutContent {
        padding-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .aboutImage {
        width: 454px;
        height: 204px;
        display: flex;
        justify-content: center;
        margin: 37px auto 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 1220px) {
    .about {
        height: 229px;
        margin: 32px auto 100px;
        .aboutContent {
            padding-top: 24px;
            gap: 16px;
        }

        .aboutImage {
            margin: 32px auto 0;
            width: 469px;
            height: 212px;  
        }
    }   
}

@media (max-width: 640px) {
    .about {
        height: 128px;
        .aboutContent {
            button {
                width: 342px;
            }
        }

        .aboutImage {
            margin: 15px auto 0;
            width: 222px;
            height: 100px;
        }
    }
}