.services {
    padding: 60px 0;

    .servicesList {
       display: flex;
       flex-direction: column;
       gap: 16px;
       margin-top: 32px;
    }

    button {
        margin-top: 32px;
    }
}