.main {
  border-radius: 15px;
  max-width: 1408px;
  height: 100%;
  margin: 0 auto;
  padding-left: 24px;
  overflow: hidden;
  padding-right: 24px;
  position: relative;
  .main__text {
    position: relative;
    z-index: 3;
    row-gap: 16px;
    padding: 108px 0 84px 85px;
    width: calc(859px / 1408px * 100%);
  }
  .main__text_information,
  .main__text,
  .main__text_links {
    display: flex;
    flex-direction: column;
  }
  .main__text_information {
    row-gap: 56px;
  }
  .main__text_links {
    row-gap: 32px;
  }
  .main__subtitle {
    line-height: 31.2px;
  }
  .main__summ {
    font-size: 32px;
    line-height: 38px;
    .main__summ__orange {
      color: var(--color-orange-primary);
    }
  }
  .main__banner{
    height: 503px;
    width: auto;
    object-fit: contain;
    object-position: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  @media screen and (max-width: 1220px) {
    width: 100%;
    padding: 0;
    background-color: #f9f9f9;
    .main__text {
      width: 100%;
      row-gap: 50px;
      padding: 31px 38px 40px 47px;
    }
    .main__text_information {
      row-gap: 25px;
    }
    .main__title {
      width: 100%;
      font-size: 48px;
      line-height: 56px;
    }
    .main__subtitle {
      width: calc(537px / 860px * 100%);
      font-size: 20px;
      line-height: 26px;
    }
    .main__banner{
      height: 374px;
    }
  }
  @media screen and (max-width: 600px) {
    width: auto;
    margin-left: 11px;
    margin-right: 11px;
    .main__banner{ 
      margin: 11px;
      top: 0;
      left: 0;
      position: relative; 
      width: auto;
      height: auto;
      object-fit: contain;
      object-position: center;
    }
    .main__container{ 
      display: flex; 
      flex-direction: column-reverse;
    }
    .main__title {
      width: 100%;
      font-size: 29px;
      line-height: 36px;
    }
    .main__subtitle {
      width: 100%;

      font-size: 14px;
      line-height: 18px;
    }
    .main__text {
      padding: 22px;
      row-gap: 22px;
    }
  }
}
