.main {
  padding-top: 206px;
  padding-bottom: 56px;
  display: flex;
  column-gap: 101px;
  .main__sidebar {
    min-width: 215px;
  }
  .main__content {
    display: flex;
    flex: 1;
  }
  .main__support {
    width: 60%;
  }
  .main__edit{ 
    width: 37%;
  }
  @media screen and (max-width: 1200px) {
    padding-top: 106px;
    column-gap: 48px;
    .main__edit{ 
        width: 80%;
        word-break: break-all;
    }
    .main__support {
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    flex-direction: column-reverse;
    row-gap: 30px;
    .main__edit{ 
        width: 100%;
    }
  }
}
