:root {
  /* colors */
  --color-primary: #fe7a3b;
  --color-secondary: #ff6319;
  --color-tertiary: #ffce9d;
  --color-white: #ffffff;
  --color-black: #0b0a0a;
  --color-black-circled: #211F1F;
  --color-dark-gray: #474747;
  --color-gray: #848484;
  --color-gray-two: #999999;
  --color-gray-three: #bcbcbc;
  --color-gray-four: #d1d1d1;
  --color-gray-five: #e2e2e2;
  --color-gray-six: #e5e5e5;
  --color-gray-seven: #f5f5f5;
  --color-gray-eight: #f3f4f6;
  --color-gary-border: #ebebeb;
  --color-red-error: #d71818;
  --color-orange-primary: #E44A00;

  /* gradient */
  --color-gradient-primary: linear-gradient(bottom to left, #ffc834, #ff5649);
}