.main {
  padding: 100px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .tabs {
      display: flex;
      margin-top: 32px;
      column-gap: 24px;

      .tab {
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 5.5px 24px;
        border: 1px solid transparent;
        border-radius: 32px;

        &.activeTab {
          border: 1px solid var(--color-primary);
          color: var(--color-primary);
          border-radius: 32px;
          background: var(--color-white) !important;
        }

        &:hover {
          background: var(--color-gray-seven);
        }
      }
    }
  }

  .swiperContainer {
    // width: 1248px;
    width: 100%;
    margin: 0 auto;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    > div{ 
      width: 100%;
    }

    .swiper {
      // width: 1248px;
      width: 100%;
      margin-top: 48px;
      
      padding-left: 32px;
      padding-right: 32px;
    }

    .navigationButtons {
      position: absolute;
      top: 50%;
      // right: -80px;
      // left: -80px;
      width: 100%;
      z-index: 10;

      display: flex;
      justify-content: space-between;
    }
  }

  @media(max-width: 1200px) {
    .swiperContainer {
      
      // width: 960px;

      .swiper {
        // width: 960px;
        padding-left: unset;
        padding: 0 63px;
      }

      .navigationButtons {
        left: 0;
        right: 0;
      }
    }

    .title {
      .tabs { 
        flex-wrap: wrap;
        gap: 8px; 
        justify-content: center;
        .tab {
          padding: 5.5px 24px;
          height: 40px;
          p {
          font-size: 20px;
          }
        }
      }
    }
  }

  @media(max-width: 640px) {
    .swiperContainer {
      // width: 342px;

      .swiper {
        // width: 342px;
        padding-left: unset;
        padding: 0 63px;
      }
    }

    .tabs {
      flex-direction: column;
      row-gap: 16px;
    }
  }
}